.navbar-container {
  position: fixed;
  top: 0;
  z-index: 25;
  background: #FE518A;
  border-bottom: 3px solid black;
}

.navbar-logo {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: 900;
  height: 60px;
  margin: 15px 15px;
  font-size: 45px;
  color: #FFE050;
  -webkit-text-fill-color: #FFE151;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 3px; 
}
