.profile-container-wrapper {
  display: flex;
  flex-direction: column;
}

.profile-header {
  position: absolute;
  top: 110px;
  height: 40px;
  margin-left: 15px;
  margin-bottom: 45px;
  font-size: 25px;
  font-weight: bolder;
  color: black;
  font-family: 'Rubika', sans-serif;
  font-style: italic;
}

.profile-header-text {
  margin-top: 0px;
}

.profile-container {
  display: flex;
  flex-direction: row;
}

.charts-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.chart-container {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
}

.chart-container-offset {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  position: relative;
  top: -100px;
}

.index-question-container2 {
  margin-left: auto;
  display: flex;
  flex-direction: column;  
  margin-right: 80px;
  border-radius: 4px;
  margin-top: 30px;
  width: 47%;
}