.result-container {
  width: 90%;
  margin: 20px 0px;
  animation: 1s fadeIn forwards;
}

.result-data-container {
  min-height: 30px;
  padding: 10px;
  background: #41cbff;
}

.winner-container {
  width: 42%;
}

.result-title {
  color: black;
}

.result-item-body {
  color: black;
}