.session-img-container {
  height: 830px;
  width: 100%;
  background-image: url("https://animals.sandiegozoo.org/sites/default/files/2017-12/animals_hero_birdofparadise-story.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.session-img-container:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, #FFF) bottom repeat;
  background: linear-gradient(transparent, #FFF) top repeat; 
}