.session-img-container {
  height: 830px;
  width: 100%;
  background-image: url("../logo.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.session-img-container:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 15%;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, #FFF) bottom repeat;
  background: linear-gradient(transparent, #FFF) top repeat; 
}