.general-button, .top-button {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  height: 40px;
  width: 127px;
  border-radius: 5px;
  background: #FE518A;
  color: #FFE050;
  font-size: 16px;
  font-weight: bolder;
  margin: 10px 0px;
  border-bottom: 3px solid black;
}

.general-button:hover {
  border-bottom: 0px;
}

.top-button {
  display: none;
  width: 40px;
  margin: 0px 0px;
  position: fixed;
  top: 80%;
  right: 10px;
  z-index: 25;
}

.up-arrow {
  cursor: pointer;
  z-index: 25;
}

.navbar-button {
  color: #FFE050;
  font-size: 12px;
  font-weight: bolder;
  margin-right: 10px;
  height: 40px;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  -webkit-text-fill-color: #FFE151;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px; 
}

.navbar-button:hover {
  border-bottom: 2px solid black;
}

.hidden {
  display: none;
}

.win-button {
  margin-left: -160px;
}

.lost-button {
  margin-right: -160px;
}