.general-input, .session-input {
  font-family: 'Roboto', sans-serif;
  height: 25px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 10px;
  background: white;
}

.session-input {
  width: 45%;
}

.general-input-grey {
  height: 25px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 10px;
  border: 1px solid grey;
  margin-bottom: 20px;
  background: white;
}

.session-inputs {
  height: 300px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.question-inputs{
  font-size: 18px;
  margin-top: 5px;
  background: white;
}

.question-inputs {
  margin: 20px -20px;
  width: 115%;
}

.question-input-container h2 {
  margin-top: 80px;
}

input[type="submit"]{
  cursor: pointer;
}

