.header-container {
  margin: 5px;
  font-size: 18px;
}

.header-how-it-works {
  margin-bottom: 60px;
}

.index-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(119, 112, 112);
  margin-top: 150px;
}

.index-header-container {
  font-size: 18px;
  color: rgb(119, 112, 112);
}


/* ------ ALIGNMENT ------ */

.container-list-col-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-list-col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-list-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.container-list-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.container-list-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.container-list-row-l-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.centered-text {
  text-align: center;
}

/* ------ WIDTHS ------ */

.container-2-col {
  width: 45%
}

.container-1-3-col {
  width: 30%
}

.container-2-3-col {
  width: 60%
}

.container-col-1 {
  width: 90%
}

/* ------ MIN HEIGHTS ------ */

.container-list-item-sm {
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-list-item-md {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  background-color:rgba(231, 144, 212, 0.5);
}

.container-list-item-lg {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-list-item-xl {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------ ICON SIZES ------ */

.icon-xl {
  height: 180px;
}

/* ------ HOVER EFFECTS ------ */

.container-list-row-center:hover .icon-xl {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.hover-bigger:hover {
  transform: scale(1.1, 1.1);
}

