#root, html, body, .main-div {
  height: 100%;
  width: 100%;
}

div, section, article, p, h3, h2, h1, h4 {
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

a {
  cursor: pointer;
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
}

p {
  margin: 0px;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 10px 0px;
}

input, button {
  margin-bottom: 10px;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
  margin-top: 100px;
  align-items: center;
}

h1 {
  font-size: 40px;
}

