#false {
  background:rgb(150, 137, 137);
}

#true {
  background: rgba(231, 144, 212, 0.5);
}

#wizard-leader {
  height: 230px;
}

#how-it-works {
  position: relative;
  top: 13px;
}

#answerscontainer{
  width: 100%; 
  display: flex; 
  justify-content: space-between;
  padding: 5px;
}

#ans{
  width: 45%;
  text-align: center;
}

#profile-questions-container {
  width: 45%;
  margin-right: 11px;
  margin-left: 30px;
}