.how-it-works--main {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.how-it-works--intro h1 {
  font-size: 40px;
  text-align: center;
}

.how-it-works--intro section {
  font-size : 30px;
  text-align: center;
  margin: 50px;
}

.how-it-works--section, .how-it-works--section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
  height: 300px;
}

.how-it-works--section-1 {
  background:#EEEEEE;
}

.how-it-works--section:hover img, .how-it-works--section-1:hover img{
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.how-it-works--section img, .how-it-works--section-1 img {
  height: 180px;
}

.how-it-works--section article, .how-it-works--section-1 article {
  width: 60%;
}

.how-it-works--section p, .how-it-works--section-1 p {
  font-size: 24px;
}

#wizard-leader {
  height: 230px;
}