

#root, html, body, .main-div {
  height: 100%;
  width: 100%;
}

.main-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 680px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1554147850-dd1191b9b948?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title-container {
    position: absolute;
    top: 0px;
    /* max-width: 50%; */
    width: 100%;
    background: rgb(49, 134, 173, 0.7);
    /* background: white; */
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-title {
  color: white;
}

.main-title {
  text-align: center;
/* background: rgb(49, 134, 173, 0.5); */
}

.main-links-container  {
  position: absolute;
  top: 150px;
  width: 100%;
  /* max-width: 50%; */
}

.main-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  height: 100%;
  /* width: 100%; */
  padding: 50px;
  /* text-align: center; */
}

.main-link {
    text-decoration: none;
    /* font-weight: bolder; */
    color: white;
    margin-left: 2px;
    font-size: 25px;
    /* text-align: center; */
    background:  rgba(231, 164, 217, 0.769);
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
}

.main-button {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}


/* --------- LOGIN ------------- */

.session-form-container {
  position: absolute;
  top: 200px;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.session-form {
    min-height: 450px;
    width: 340px;
    display: flex;
    flex-direction: column;
    /* border: 8px solid rgb(49, 134, 173); */
    /* border-radius: 20px; */
    padding-left: 80px;
    padding-bottom: 10px;
    padding-right: 80px;
    background: rgb(49, 134, 173, 0.7);

}

.session-header-container {
  /* text-align: center; */
  margin-bottom:15px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  top: -44px;
  left: -80px;
  min-height: 44px;
}

.header-default {
  background:rgb(49, 134, 173, 0.7);
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
}

.login-inputs {
  height: 300px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}

.login-input {
  height: 25px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 10px;
}

.login-submit, .main-button {
    height: 40px;
    width: 127px;
    /* width: 100%; */
    /* background-color: white; */
    /* color: white; */
    border: none;
    border-radius: 5px;
    background: rgb(231, 164, 217);
    color: white;
    font-size: 16px;
    font-weight: bolder;
    /* margin-left: 50px; */
}

.main-button {
  position: relative;
  top: 10px;
  left: 106px;
}

.main-line {
    position: absolute;
    top: 12%;
    left: 49.8%;
    height: 200px;
    border-left: 6px solid rgb(231, 164, 217);
}

.login-errors {
  z-index: 10px;
}

.login-line {
    position: absolute;
    top: 10%;
    left: 49.8%;
    height: 200px;
    border-left: 6px solid rgb(231, 164, 217);
}


/* --------- SIGNUP ------------- */

.signup-form-container {
      position: absolute;
    top: 200px;

    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
  height: 450px;
  width: 340px;
  display: flex;
  flex-direction: column;
  /* border: 8px solid rgb(49, 134, 173); */
  /* border-radius: 20px; */
  padding-left: 80px;
  padding-bottom: 10px;
  padding-right: 80px;
  background: rgb(49, 134, 173, 0.7);
  /* justify-content: space-around; */
}

.error {
  margin: 0px;
  font-weight: bolder;
  color: white;
}

.signup-inputs {
  height: 280px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}


.signup-input {
  height: 25px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 10px;
}

.main-link-signup {
  margin-top: 15px;
      text-decoration: none;
    font-weight: bolder;
    color: white;
    font-size: 15px;
}

.signup-submit, .switch-signup, .main-button {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#how-it-works {
  position: relative;
  top: 13px;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

input[type="submit"]{
  cursor: pointer;
}