.nc2 {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  border-bottom: 2px solid rgb(180, 179, 179);
  z-index: 25;
}

.navbar-container {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(231, 144, 212, 0.5);
  z-index: 25;
}


.navbar-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* width: 80%; */
  height: 100%;
}

.nav-link {
  /* height: 100%; */
  padding: 20px;
}

.nav-button {
  width: 90px;
  height: 40px;
  /* border-radius: 4px; */
  background: none;
  border: none;
  font-size: 16px;
  COLOR: rgb(150, 137, 137);
  font-weight: bolder;
  outline: none;
}

.nav-button:hover {
  border-bottom: 2px solid white;
}

.logo-img {
  height: 60px;
  margin-top: 13px;
  margin-left: 18px;
}
