.index-body-container {
  height: 100%;
  width: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(119, 112, 112)
}

.index-friends-container {
  left: 0;
  margin-left: 40px;
  display: flex;
  flex-direction: column;  
  margin: 10px;
  border-radius: 4px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;  
  margin-right: 80px;
  border-radius: 4px;
  margin-top: 80px;
  width: 35%
}

.friends-header-container {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

.friends-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.friend-container:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.index-questions-container, .result-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;  
  margin-right: 80px;
  border-radius: 4px;
  margin-top: 80px;
  width: 47%;
}

.index-header-container {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: rgb(119, 112, 112);
}

.questions-container  {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.question-item-container,
.result-data-container,
.friend-container {
  min-height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(231, 144, 212, 0.5);
}

#false {
  background:rgb(150, 137, 137);
}

#true {
  background: rgba(231, 144, 212, 0.5);
}

.result-container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-data-container {
  list-style: none;
}

.add-friend-form {
  min-height: 130px;
}

.new-friend-submit-container {
  height: 30px;
  width: 40px;
}

.friend-link-continer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  border: 1px solid rgb(180, 179, 179);
}

.friend-link {
  width: 25%;
  color: rgb(150, 137, 137);
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

/* Slide in Effects modified from:  */
/* http://jsfiddle.net/2vLjU/1/ */
.question-img--wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px; 
  border: 1px solid black;
}

#slide-left {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  transition: 1s;
}

#slide-right {
  position: absolute;
  right: -100px;
  width: 100px;
  height: 100px;
  transition: 1s;
}

.main-div:hover #slide-left {
  left: 0;
}

.main-div:hover #slide-right {
  right: 0;
}

/* End slide in */