.index-body-container {
  height: 100%;
  width: 100%;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(119, 112, 112)
}

.index-friends-container {
  left: 0;
  margin-left: 40px;
  display: flex;
  flex-direction: column;  
  margin: 10px;
  border-radius: 4px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;  
  margin-right: 80px;
  border-radius: 4px;
  margin-top: 80px;
  width: 35%
}

.friends-header-container {
  margin: 5px;
  font-size: 18px;
}

.friends-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.friend-container:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.index-questions-container, .result-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;  
  margin-right: 80px;
  border-radius: 4px;
  margin-top: 100px;
  width: 45%;
}

.index-header-container {
  margin-top: -5px;
  font-size: 18px;
  color: rgb(119, 112, 112);
}

.questions-container  {
  padding: 30px;
  padding-left: 10px;
  padding-right: 160px;
  display: flex;
  flex-direction: column;
}

.question-item-container{
  cursor: pointer;
}

.question-item-container,
.result-data-container,
.friend-container {
  min-height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(231, 144, 212, 0.5);
}

.question-inputs {
  margin: 20px -20px;
  width: 115%;
}

.question-input-container h2 {
  margin-top: 80px;
}

.new-form-container, .answers-container {
  width: 100%;
  height: 100%;
}

.question-media, .answers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin: 20px;
  text-align: center;
}

#false {
  background:rgb(150, 137, 137);
}

#true {
  background: rgba(231, 144, 212, 0.5);
}

.result-container {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: 1s fadeIn forwards;
}

.results-container {
  text-align: left;
  background-color: white;
}

.result-data-container {
  list-style: none;
}

.add-friend-form {
  min-height: 130px;
}

.new-friend-submit-container {
  height: 30px;
  width: 40px;
}

.friend-link-continer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  border: 1px solid rgb(180, 179, 179);
}

.friend-link {
  width: 25%;
  color: rgb(150, 137, 137);
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

/* Slide in Effects modified from:  */
/* http://jsfiddle.net/2vLjU/1/ */
.question-img--wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px; 
  /* border: 1px solid black; */
}
.question-img--wrapper::after {
  content: '';
  position: absolute;
  top: -30%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  animation: sheen 1.5s 1.5s forwards;
}

.question-media-player-left {
  animation: fadeInLeft 1.5s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-media-player-right {
  animation: fadeInRight 1.5s forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fight-bar::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transform: skew(-20deg);
  background-image: linear-gradient(60deg, rgba(231, 144, 212, .7), rgb(255, 255, 255));
  position: absolute;
  top:0;
  left: 65%;
  z-index: -1;
  animation: fadeInRightWithSkew 1.5s forwards;
}

.fight-bar::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 1),rgba(231, 144, 212, .7));
  position: absolute;
  top:0;
  left: -65%;
  z-index: -1;
  animation: fadeInLeftWithSkew 1.5s forwards;
}
/* End slide in */

.question-submit-fade-out {
  animation: 1s fadeOut forwards;
}
 /* loading wheel */
.lds-facebook {
  display: inline;
  position: relative;
  background-color: transparent;
  left: 48.3%;
  /* width: 64px;
  height: 64px; */
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: rgba(231, 144, 212, 0.5);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
/* end loading wheel */


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;} 
} 

@keyframes fadeInLeftWithSkew {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
      transform: skew(20deg);
   }
}   

@keyframes fadeInRightWithSkew {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
      transform: skew(-20deg);
   }
}   

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}   

@keyframes fadeInRight {
   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}   


#answerscontainer{
  width: 100%; 
  display: flex; 
  justify-content: space-between;
  padding: 5px;
}
#ans{
  width: 45%;
  text-align: center;
}